body{
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    background-color: #FFFDD0;
}

.common_Header{
    height: 70px;
    background-color: #FFFDD0;
}

.common_Text{
    font-size: 40px;
    color: #FF7F00;
    font-family: "ヒラギノ丸ゴ ProN";
}

.login_Text{
    font-size: 60px;
    position: relative;
    display: inline-block;
    width: 800px;
}

.login_Text::before,
.login_Text::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    border-top: 3px dashed #FF7F00;
}

.login_Text::before{
    top:-5px;
}

.login_Text::after{
    bottom: -5px;
}

.info_Container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pair_Container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.text_In_Box{
    width: 200px;
    height: 60px;
}

.input_Box{
    width: 300px;
    height: 40px;
}

.common_Button{
    border-radius:8px; 
    border-color: #FF7F00;
    font-size:40px;
    cursor: pointer;
    background-color: #ffffff;
    color: #FF7F00;
}

.common_Button:hover{
    background-color: #ff7f00; 
    color: #ffffff;
}
