@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Zen+Maru+Gothic&display=swap');
body{
    height: 100vh;
    margin: 0;
    text-align: center;
    background-color: #FFFDD0;
}

select{
    display:inline-block;
    justify-content: center; 	
    border: solid 2px #ff7f00;
    width: 200px;
    height:50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    margin-top: 50px;
    cursor: pointer;
}

.COMMON_TEXT{
    font-size: 40px;
    color: #FF7F00;
    font-family: "Hachi Maru Pop", cursive;
}

.OWNER_TEXT_HEAD{
    font-size: 60px;
    margin-top: 50px;
    position: relative;
    display: inline-block;
    width: 800px;
}

.OWNER_TEXT_HEAD::before, 
.OWNER_TEXT_HEAD::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    border-top: 3px dashed #FF7F00;
}

.OWNER_TEXT_HEAD::before{
    top: -5px;
}

.OWNER_TEXT_HEAD::after{
    bottom: -5px;
}

.OWNER_TEXT{
    margin-top: 50px;
    position: relative;
    display: inline-block;
    width: 800px;
}

.OWNER_TEXT::before{
    top: -5px;
}

.OWNER_UNDERLINE{
    text-decoration: underline dashed;
    text-decoration-color: #FF7F00;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}

.COMMON_BUTTON{
    display: inline;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin:0 auto;
    border: 2px solid #ff7f00;
    border-radius: 5px;
    background-color: #ffffff;
    color: #ff7f00;
    font-size: 20px;
    cursor: pointer;
}

.COMMON_BUTTON:hover{
    box-shadow: 0 5px 0 0 #c86a0c;
    background-color: #ff7f00;
    color: #fff;
}

.COMMON_BUTTON_LARGE{
    width: 100px;
    height: 50px;
    font-size: 0.7em;
}

.RESULT_CONTAINER{
    background-color: #fff;
    border: solid 2px #FF7F00;
    width: 450px;
    height: 200px;
    margin-top: 50px;
}

.ERROR_TEXT{
    color: black;
}