@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Zen+Maru+Gothic&display=swap');
header{
    font-family: "Hachi Maru Pop", cursive;
    width: 100%; 
    height: 50px; 
    background: #ff7f00; 
    padding: 20px 50px; 
    box-sizing: border-box; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 999;;
    display: flex; 
    align-items: center; 
}

header .HEAD .MENU {
    display: flex;
}

header .HEAD .MENU li{
    list-style: none;
    font-weight: bolder;
}

header .HEAD .MENU li + li{
    margin-left: 50px;
}

header .TITLE{
    margin-right: auto;
}

body{
    height: 100vh;
    margin-bottom: 30px;
    padding: 0;
    text-align: center;
    background-color: #FFFDD0;
    padding-top: 50px;
    padding-bottom: 30px;
}

select{
    display:inline-block;
    justify-content: center; 	
    border: solid 2px #ff7f00;
    width: 200px;
    height:50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    margin-top: 50px;
    cursor: pointer;
}

.COMMON_TEXT{
    font-size: 4.5vw;
    color: #FF7F00;
    font-family: "Hachi Maru Pop", cursive;
}

.USER_TEXT_HEAD{
    font-size: 5vw;
    margin-top: 50px;
    position: relative;
    display: inline-block;
    width: 80%;
}

.USER_TEXT_HEAD::before, 
.USER_TEXT_HEAD::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    border-top: 3px dashed #FF7F00;
}

.USER_TEXT_HEAD::before{
    top: -5px;
}

.USER_TEXT_HEAD::after{
    bottom: -5px;
}

.USER_TEXT{
    margin-top: 50px;
    position: relative;
    display: inline-block;
    width: 80%;
}

.USER_TEXT::before{
    top: -5px;
}

.TEXT_UNDERLINE{
    text-decoration: underline dashed;
    text-decoration-color: #FF7F00;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}

.COMMON_BUTTON{
    display: inline;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin:0 auto;
    border: 2px solid #ff7f00;
    border-radius: 5px;
    background-color: #ffffff;
    color: #ff7f00;
    font-size: 1em;
    cursor: pointer;
}

.COMMON_BUTTON:hover{
    box-shadow: 0 5px 0 0 #c86a0c;
    background-color: #ff7f00;
    color: #fff;
}

.COMMON_BUTTON:active{
    transform: translateY(3px);
}

.COMMON_BUTTON_LARGE{
    width: 100px;
    height: 50px;
    font-size: 0.7em;
}

.TODAYS_LIST{
    display: flex;
    justify-content: center;
    align-items: center;
}

.TODAYS_TEXT{
    margin: 5px;
    font-size: 20px;
}

.TODAYS_CONTAINER{
    background-color: #fff;
    border: solid 5px #FF7F00;
    width: 33%;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin: 1%;
}

.NAME_TEXT{
    font-size: 30px;
    color: #FF7F00;
}

.GENRE_TEXT{
    font-size: 22px
}

.ADDRESS_TEXT{
    font-size: 20px;
}

.ERROR_TEXT{
    font-size: 30px;
    color: black;
}